


.content-detail-wrapper>.container {
    max-width: 1600px;
    margin: 0 auto;
}

/* detail-main */

.content-detail-wrapper>.detail-main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../source/image/ani/ani_11_KimetsuNoYaiba.png) no-repeat center/cover;
    height: 800px;
    position: relative;
    margin-bottom: 100px;
}

.content-detail-wrapper>.detail-main>.main-text {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 15%;
    left: 10%;
    gap: 15px;
}

.content-detail-wrapper>.detail-main>.main-text>h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    height: 50px;
    letter-spacing: 2px;
}

.content-detail-wrapper>.detail-main>.main-text>img {
    width: 32px;
    height: 32px;
}

.content-detail-wrapper>.detail-main>.main-text>img+img {
    width: 28px;
    height: 28px;
}

/* work-info */

.content-detail-wrapper>.container>.work-info {
    color: #fff;
    margin-bottom: 100px;
}

/* info01 */
.content-detail-wrapper>.container>.work-info>.info01 {
    margin-bottom: 50px;
}

.content-detail-wrapper>.container>.work-info>.info01>.info01-title {
    display: flex;
    justify-content: space-between;
}
.content-detail-wrapper>.container>.work-info>.info01>.info01-title>a>img {
    width: 38px;
    height: 38px;
}
.content-detail-wrapper>.container>.work-info>.info01>.info01-title > h3 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* info02 */

.content-detail-wrapper>.container>.work-info>.info02>h3 {
    font-size: 34px;
    font-weight: 500;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}
.content-detail-wrapper>.container>.work-info>.info02>h3> span::before {
    content: '19';
    background: red;
    color: #fff;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    top: 3px; left: 0px;
}



/* episode-list */

.content-detail-wrapper>.container>.episode-list>.All-list {
    max-width: 1200px;
    margin: 0 auto;
    height: 1000px;
    overflow: scroll;
    overflow-x: hidden;
}



/* 세로 스크롤바 크기 및 디자인 (크롬/사파리/엣지용) */
::-webkit-scrollbar {
  width: 12px;  /* 세로 스크롤바 두께 */
}


.content-detail-wrapper > .container > .episode-list > .All-list {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 800px;   
  overflow-x: hidden;  
}

::-webkit-scrollbar {
  width: 10px;  /* 세로 스크롤바 두께 */
}

::-webkit-scrollbar-track {
  background: none;  /* 스크롤 바 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background-color: #888;  /* 스크롤 바 thumb 색상 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* hover 시 thumb 색상 */
}


.content-detail-wrapper>.container>.episode-list {
    color: #fff;
}
.content-detail-wrapper>.container>.episode-list >.All-list >.list >img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.content-detail-wrapper>.container>.episode-list >.All-list >.list  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-detail-wrapper>.container>.episode-list >.All-list >.list >.list-title {
    display: flex;
    justify-content: space-between;
    width: 850px;
}
.content-detail-wrapper>.container>.episode-list >.All-list >.list >.list-title > li >.list-icons >li>a> img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}